// Config

// Breakpoints
$bp-x-small-width: 375;
$bp-small-width: 480;
$bp-medium-small-width: 640;
$bp-medium-width: 768;
$bp-large-width: 992;
$bp-x-large-width: 1240;

// Typographic Scale
// $inch-text-size: --;
$canon-text-size: 38;
$paragon-text-size: 30;
$primer-text-size: 24;
$tertia-text-size: 18;
$normal-text-size: 16;
$pica-text-size: 14;
$petite-text-size: 12;
// $minion-text-size: 10;

// Baseline Typography
$base-text-size: $normal-text-size;

// Font Declarations
$hind: 'Hind', Helvetica, Arial, sans-serif;
$roboto-cond: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$signika: 'Signika', 'Courier New', Georgia, serif;

$primary-font: $hind;
$primary-heading-font: $signika;
$secondary-heading-font: $roboto-cond;
