// Breakpoint min and max values
$mq-base-max:           (1em * (($bp-small-width - 1) / $base-text-size));
$mq-small-min:          (1em * (($bp-small-width) / $base-text-size));
$mq-small-max:          (1em * (($bp-small-width - 1) / $base-text-size));
$mq-medium-small-min:   (1em * (($bp-medium-small-width) / $base-text-size));
$mq-medium-small-max:   (1em * (($bp-medium-small-width - 1) / $base-text-size));
$mq-medium-min:         (1em * (($bp-medium-width) / $base-text-size));
$mq-medium-max:         (1em * (($bp-medium-width - 1) / $base-text-size));
$mq-large-min:          (1em * (($bp-large-width) / $base-text-size));
$mq-large-max:          (1em * (($bp-large-width - 1) / $base-text-size));
$mq-x-large-min:        (1em * (($bp-x-large-width) / $base-text-size));

// "@media" responsive strings
// Base
$base-screens-max: 'all and (max-width: #{$mq-base-max})';

// Small
$small-screens-min: 'all and (min-width: #{$mq-small-min})';
$small-screens-only: 'all and (min-width: #{$mq-small-min}) and (max-width: #{$mq-small-max})';
$small-screens-max: 'all and (min-width: #{$mq-small-max})';

// Medium Small
$medium-small-screens-min: 'all and (min-width: #{$mq-medium-small-min})';
$medium-small-screens-only: 'all and (min-width: #{$mq-medium-small-min}) and (max-width: #{$mq-medium-small-max})';
$medium-small-screens-max: 'all and (min-width: #{$mq-medium-small-max})';

// Medium
$medium-screens-min: 'all and (min-width: #{$mq-medium-min})';
$medium-screens-only: 'all and (min-width: #{$mq-medium-min}) and (max-width: #{$mq-medium-max})';
$medium-screens-max: 'all and (min-width: #{$mq-medium-max})';

// Extra Large
$large-screens-min: 'all and (min-width: #{$mq-large-min})';
$large-screens-only: 'all and (min-width: #{$mq-large-min}) and (max-width: #{$mq-large-max})';
$large-screens-max: 'all and (min-width: #{$mq-large-max})';

// Extra Large
$x-large-screens-min: 'all and (min-width: #{$mq-x-large-min})';

@import '_config/_easing';
