@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-everything();

@import '_config';
@import '_vars';
@import 'fonts';
@import 'dashboard/sidebar';
@import 'dashboard/topbar';
@import 'dashboard/main-menu';
@import 'dashboard/main-content';
@import 'dashboard/context-menu';

/* Modals */
@import 'dashboard/play-modal';

/* Events */
@import 'dashboard/events/create-event-wizard';

/* Components */
@import 'components/icons';
@import 'components/callouts';
@import 'components/cards';
@import 'components/circle-actions';
@import 'components/modals';
@import 'components/date-picker';

/* Overrides */
@import 'overrides/react-select';

$_20px: 1rem * (20 / $base-text-size);
$_25px: 1rem * (25 / $base-text-size);
$_30px: 1rem * (30 / $base-text-size);
$_40px: 1rem * (40 / $base-text-size);
$_60px: 1rem * (60 / $base-text-size);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html,
body,
.root {
  height: 100%;
}

.root {
  background: white;
}

// Global Styles
body {
  line-height: 1.5em;
  font-weight: 300;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
}

a,
button {
  outline: none;
}

.primary-heading {
  margin-bottom: 0;
  font-size: 2em;
  font-family: $signika;
  font-weight: 600;
  color: #333;
}

[class*="secondary-heading"] {
  font-family: $secondary-heading-font;
  font-weight: 600;
  color: #333;
}

.secondary-heading--caps {
  margin-top: 1.8em;
  margin-bottom: .6em;
  text-transform: uppercase;
}

.primary-heading + [class*="secondary-heading"] {
  margin-top: 0;
}

.app-container {
  height: calc(100% + 1px);
  position: relative;
  -webkit-overflow-scrolling: touch;

  &.modal-is-open {
    z-index: 1000;
  }
}

@media only screen and (min-width: 768px) {
  .app-container {
    display: flex;
    padding-top: 40px;
    position: static;
  }
}

/* General Action Bars */
.action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  input,
  button {
    margin-bottom: 0;
  }

  button {
    margin-left: 10px;
  }

  .fa {
    font-size: 1.5rem;
  }
}

/* Game List */
.game-list .game-search {
  input {
    margin-bottom: 0;
  }

  // .fa {
  //   margin-left: 20px;
  // }
}

.game-list ul {
  list-style: none;
}

/* Game Card */
.card--game {
  min-height: 400px;

  figure a {
    display: block;
    width: 100%;
    height: 250px;
    background: #d2d2d2;
  }

  span + .card__title {
    margin-top: 5px;
  }
}
