@font-face {
  font-family: 'Hind';
  src: url('/fonts/hind/Hind-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/fonts/roboto-condensed/RobotoCondensed-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'Signika';
  src: url('/fonts/signika/Signika-Regular.ttf') format('ttf'),
}