.context-menu {
  $_10px: 1em * (10 / $base-text-size);
  $_25px: 1em * (25 / $base-text-size);

  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translateX(115%);
  transition: transform 600ms $easeInOutBack;

  &:after {
    content: "";
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
  }

  &:after {
    left: 100%;
    background: inherit;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.context-menu > div {
  padding: $_10px $_25px;
  overflow-y: scroll;
  min-height: 100%;
}

.context-menu__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.context-menu__heading {
  $_20px: 1em * (20 / $base-text-size);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-top: $_20px;
  position: relative;
  color: white;
  font-family: $roboto-cond;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba($light_purple, 0.35);
  }

  span {
    display: flex;
    align-items: baseline;

    .fa {
      margin-right: 10px;
    }

    .fa-sort-amount-asc {
      font-size: 0.7em;
    }
  }

  ul + & {
    margin-top: 20px;
  }
}

/* Prototype Styles - Remove when theme present */
.context-menu {
  background: #4c344e;
  color: white;
}

.context-menu label {
  color: #b9aadc;

  .fa {
    margin-left: 5px;
    color: white;
  }
}

.context-menu input,
.context-menu select {
  &:focus {
    box-shadow: none;
  }
}

.context-menu__header button {
  color: white;
  font-size: 14px;

  .fa {
    margin-right: 5px;
  }
}
