.main-menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 600ms $easeInOutBack;

  .menu-is-open & {
    transform: translateX(0);
  }
}

.main-menu__items {
  @extend .no-bullet, .menu, .vertical;

  $_20px: 1em * (20 / $base-text-size);

  width: 100%;
  padding: $_20px 0;

  a {
    padding: 10px 30px;
  }

  a:hover,
  a:focus {
    background: none;
    outline: none;
  }
}

/* Menu User Pane */
.main-menu .user-pane {
  $_10px: 1em * (10 / $base-text-size);
  $_20px: 1em * (20 / $base-text-size);
  $_40px: 1em * (40 / $base-text-size);

  width: 100%;
  padding: $_10px $_20px;
  position: fixed;
  bottom: 0;
  left: 0;

  img {
    max-width: $_40px;
    border-radius: 50%;
  }
}

/* Extra Large */
@media #{$large-screens-min} {
  .main-menu {
    $_320px: 1em * (320 / $base-text-size);

    max-width: $_320px;
  }
}

/* Prototype Styles - Remove when theme present */
.main-menu {
  background: #e3e3e3;

  &::before {
    content: "";
    width: 50%;
    height: inherit;

    position: absolute;
    top: 0;
    right: 100%;

    background: #e3e3e3;
  }
}

.main-menu .user-pane {
  background: #c3c3c3;
}

.main-menu nav {
  display: flex;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.main-menu__items nav {
  a:hover {
    background: #c3c3c3;
  }
}
