.main-content-container {
  $_40px: 1em * (40 / $base-text-size);

  width: 100%;
  min-height: 100%;
  padding-top: $_40px;
  position: relative;
  background: white;
  transform: translateX(0);
  transition: transform 600ms $easeInOutBack;
  will-change: transform;
  -webkit-overflow-scrolling: touch;

  .menu-is-open & {
    transform: translateX(90%);
  }

  .modal-is-open & {
    height: 100%;
    overflow: hidden;
  }
}

.main-content-container .wrapper {
  $_20px: 1em * (20 / $base-text-size);

  padding: $_20px 1rem;
}

@media #{$medium-screens-min} {
  .main-content-container {
    position: relative;
    overflow-y: scroll;
  }

  .main-content-container .wrapper {
    $_40px: 1em * (40 / $base-text-size);

    padding: 0 $_40px;
  }
}
