$blue: #1779ba;

[class*="modal"] .play-log__players li {
  margin-bottom: 10px;

  > div {
    padding-left: 15px;
  }

  > button {
    width: 100%;
    padding: 10px;
    align-items: center;
    background: #f2f2f2;
    border-left: 3px solid $blue;
  }

  &:last-of-type > button {
    padding: 0;
    background: none;
    border: none;
  }

  label {
    margin-top: 10px;
    font-size: 1rem;
  }

  [type="number"] {
    width: 100px;
  }
}
