$_10px: 1rem * (10 / $base-text-size);
$_15px: 1rem * (15 / $base-text-size);
$_18px: 1rem * (18 / $base-text-size);
$_20px: 1rem * (20 / $base-text-size);
$_25px: 1rem * (25 / $base-text-size);
$_52px: 1rem * (52 / $base-text-size);
$_60px: 1rem * (60 / $base-text-size);

$light_purple: #cabdca;
$purple: #543854;
$dark_purple: #312431;

.sidebar {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $purple;
}

.sidebar header {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: $_10px $_20px;
  position: relative;
  z-index: 1;
  background: $dark_purple;
  color: white;

  img {
    max-width: 30px;
    margin-right: 10px;
    border-radius: 50%;
  }
}

.sidebar__content {
  display: flex;
  width: 300%;
  height: calc(100% + 2px); // ios bug fix
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 200ms ease-in-out;
  transform: translateZ(0);
  will-change: transform;
}

.sidebar__content > div,
.sidebar__content > ul {
  transform: translateZ(0);
}

.sidebar__content {
  >[class*="sidebar-page__"] {
    width: 33.333333%;
    position: relative;
  }

  label {
    margin-bottom: 10px;
    color: $light_purple;
  }

  a {
    color: white;
    padding: 5px 0;
  }
}

.sidebar-page__main {
  li a {
    padding: $_10px $_25px;
  }
}

.sidebar-heading--submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  position: relative;
  color: white;
  font-family: $roboto-cond;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba($light_purple, 0.35);
  }

  .fa-sort-amount-asc {
    font-size: 0.8em;
  }

  ul + & {
    margin-top: 20px;
  }
}

.sidebar-page__groups li {
  align-items: center;

  img {
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
  }
}

.sidebar-page__groups,
.sidebar-page__context {
  padding: $_10px $_60px $_10px $_25px;
  color: $light_purple;
}

// .context-actions button {
//   width: 25px;
//   height: 30px;
//   margin-left: 5px;
//   color: white;

//   .fa-sort-amount-asc {
//     font-size: 0.8rem;
//   }
// }

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 320px;
    position: relative;
  }

  .sidebar > header {
    width: 100%;
  }

  .sidebar__groups {
    display: none;
  }
}
