.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 999;
  background: rgba(white, .95);
  border-bottom: 1px solid #d7d7d7;
  box-shadow: 0 0 10px 0 rgba(#868686, 0.35);
  line-height: 1em;
  transform: translateX(0) translateZ(0);
  transition: transform 600ms $easeInOutBack;

  &.menu-is-open {
    transform: translateX(90%) translateZ(0);
  }

  &.admin {
    background: purple;
  }
}

.top-bar {
  font-size: 20px;

  button {
    margin: 0;
  }

  img {
    border-radius: 50%;
  }
}

.top-bar .nav-toggle {
  .fs--not-loaded &::before {
    content: "menu";
    font-family: $roboto-cond;
  }
}
