[class*="callout--enhanced"] {
  @extend .callout;

  &.warning {
    @extend .warning;

    color: #a27714;
    border: 1px solid #e4b049;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 22px;
      transform: translate(-40%, -40%);
    }

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      background: white;
      border-radius: 50%;
    }

    &::after {
      content: '\f06a';

      color: #e4b049;
      font-family: FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }
}