$_3px: 1rem * (3 / $base-text-size);
$_5px: 1rem * (5 / $base-text-size);
$_15px: 1rem * (15 / $base-text-size);
$_30px: 1rem * (30 / $base-text-size);
$_35px: 1rem * (35 / $base-text-size);

/* Card Base Styles */
[class*="card--"] {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

[class*="card--"] > figure {
  img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

[class*="card--"] .card__title {
  font-family: $roboto-cond;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

[class*="card--"] .card__content {
  padding: $_15px;
}
