$_10px: 1rem * (10 / $base-text-size);
$_35px: 1rem * (35 / $base-text-size);

[class*="circle-actions"] {
  display: flex;
  width: 50%;
  height: 35px;
  flex-direction: row-reverse;
  position: absolute;
  top: 15px;
  right: 15px;

  &:hover button:nth-child(2) {
    transform: translateX(calc(-100% - 10px)) rotate(0);
  }

  &:hover button:nth-child(1) {
    transform: translateX(calc(-200% - 20px)) rotate(0);
  }
}

[class*="circle-actions"] button {
  width: 35px;
  height: 35px;
  margin-left: $_10px;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-radius: 50%;
  transform: translateX(0) rotate(360deg);
  transition: transform 200ms ease-in-out;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:hover:not(:disabled) .fa {
    font-size: 22px;
  }
}

[class*="circle-actions"] button .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: font-size 100ms ease-in-out;
}