$_20px: 1rem * (20 / $base-text-size);

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal-overlay--after-open {
  z-index: 999;
}

.modal {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 20px;

  position: absolute;
  top: 10px;
  left: 10px;
  overflow: scroll;

  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  outline: none;
}

[class*="modal__header"] {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #cccccc;
}

[class*="modal__header"] {
  h2 {
    margin-bottom: 0;
    font-family: $primary-heading-font;
    font-size: #{$primer-text-size}px;
    font-weight: 600;
  }

  h2 + h3 {
    margin-bottom: 0;
    font-family: $secondary-heading-font;
    font-size: #{$tertia-text-size}px;
  }
}

[class*="modal__footer"] {
  display: flex;
  align-items: baseline;
  padding-top: 1em;

  button {
    margin-left: 20px;
  }

  button:first-of-type {
    margin-left: 0;
  }
}

.modal .modal-close {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: #1779ba;
  font-size: 1.4rem;
}

.multi-modal .modal {
  opacity: 0.3;
  transition: all 400ms $easeInOutQuint;

  &.is-active {
    opacity: 1;
  }
}

/* Large Screens */
@media only screen and (min-width: 768px) {
  .modal {
    min-width: 40%;
    min-height: 60%;
    max-width: 50%;
    max-height: 90%;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}
